<div class="post shadow-box">
  <div class="post-title">
    <%- page.title %>
  </div>
  <div class="post-subtitle">
    <%= page.author %> <span> | </span> <%= date(page.date, 'MMM D, YYYY') %>
  </div>
  <%- page.content %>
</div>